<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); %>
        <script src="/javascripts/users.js"></script>
    </head>

<body>
    <header class="fixed-top">
        <%- include('partials/menu.ejs') %>
    </header>

    <main>
        <div class="row justify-content-center">
              <% if(users.length == 0) {%>
                <div class="col-md-4 text-center align-middle" id="no-user">
                    &#9888; This user doesn't exist !&#9888;
                </div>
            <% } else { %>
              <div class="col-md-8">
                <table class="table table-light" id="usersTable">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Birthdate</th>
                        <th scope="col">Profil</th>
                        <th scope="col" class="w-25">Actions</th>
                    </thead>
                <% for(const user of users) { %>
                    <tr>
                    <th scope="row"><%= user.ID %></th>
                    <td><%= user.NAME %></td>
                    <td><%= user.SURNAME %></td>
                    <td><%= user.BIRTHDATE %></td>
                    <td><%= user.PROFIL %></td>
                    <td>
                        <a class="btn btn-primary" href="/requests/<%= user.ID%>" role="button">See requests</a>
                        <a class="btn btn-warning update-button" href="#" role="button" data-toggle="modal" data-target="#updateUserModal" value="<%= user.ID%>">Update</a>
                        <a class="btn btn-danger delete-button" href="/users/delete?id=<%= user.ID %>" role="button">Delete</a>
                    </td>
                    </tr>
                <% } %>
                    <tfoot>
                        <tr class="text-right">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-success" data-toggle="modal" data-target="#addUserModal" href="#" role="button">Add user</a></td>
                        </tr>
                    </tfoot>
                </table>           
            </div>
            <% } %>
        </div>
    </main>

    <!-- Update modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="updateUserModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update user information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Please fill following fields : </br></br>
              <form method="post" action="/users/update" id="formUpdate">
                <div class="form-group">
                  <label for="nameInputUpdate">Name</label>
                  <input required type="text" name="name" class="form-control" id="nameInputUpdate" size="50" maxlength="50" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="surnameInputUpdate">Surname</label>
                  <input required type="text" name="surname" class="form-control" id="surnameInputUpdate" size="50" maxlength="50" placeholder="Enter surname">
                </div>
                <div class="form-group">
                  <label for="birthdateInputUpdate">Birthdate</label>
                  <input required type="date" name="birthdate" class="form-control" id="birthdateInputUpdate" placeholder="Enter birthdate">
                </div>
                <div class="form-group">
                  <label for="profilSelectUpdate">Profil</label>
                  <select class="form-control" name="profil" id="profilSelectUpdate">
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                  </select>
                </div>
                <div class="form-group">
                    <input required type="hidden" name="id" class="form-control" id="idInputUpdate" value="">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="updateModalSendButton">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add modal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update user information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Please fill following fields : </br></br>
              <form method="post" action="/users/add" id="formAdd">
                <div class="form-group">
                  <label for="nameInputAdd">Name</label>
                  <input required type="text" name="name" class="form-control" id="nameInputAdd" size="50" maxlength="50" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="surnameInputAdd">Surname</label>
                  <input required type="text" name="surname" class="form-control" id="surnameInputAdd" size="50" maxlength="50" placeholder="Enter surname">
                </div>
                <div class="form-group">
                  <label for="birthdateInputAdd">Birthdate</label>
                  <input required type="date" name="birthdate" class="form-control" id="birthdateInputAdd" placeholder="Enter birthdate">
                </div>
                <div class="form-group">
                  <label for="profilSelectAdd">Profil</label>
                  <select class="form-control" name="profil" id="profilSelectAdd">
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="addModalSendButton">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</body>


<footer class="fixed-bottom">
    <%- include('partials/footer.ejs'); %>
</footer>

<script>
  $("#navbarWeatherPic").fadeOut();
  setTimeout(() => {
    $("#navbarWeatherPic").fadeIn();
  }, 400);
</script>

</html>
